.logo-container {
    display: flex;
    align-items: center;
}

.logo-text {
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.text-gradient {
    background: linear-gradient(45deg, var(--accent-color), var(--primary-color));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-left: 0.25rem;
    font-weight: 700;
}